最初の10分間の対戦データからPCゲームの勝敗予測しよう！

- 精度評価は、評価関数「Accuracy」を使用します。
- 評価値は0～1の値をとり、精度が高いほど大きな値となります。
- 今回運営の設定するTier変更の閾値はAccuracy=0.785とします。

In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
sub = pd.read_csv('data/sample_submit.csv')

In [3]:
train

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,0,5,8,6,0,0,14536,17256,0
1,1,1,10,1,5,0,0,14536,17863,0
2,2,0,3,10,2,0,0,17409,17256,0
3,3,1,7,10,8,0,0,19558,18201,0
4,4,0,4,9,4,0,0,17409,17256,0
...,...,...,...,...,...,...,...,...,...,...
7995,9993,1,9,6,14,0,0,18513,18201,1
7996,9994,0,3,10,4,0,0,17381,19797,0
7997,9995,1,9,3,9,2,1,18274,18491,1
7998,9997,0,5,10,6,1,1,18274,18491,1
7999,9998,0,6,4,5,0,0,17409,17256,0

In [4]:
test

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,9,0,7,6,6,0,0,16961,18201
1,15,0,6,6,6,2,1,18513,18021
2,18,1,6,4,3,0,0,13475,17256
3,23,0,5,4,7,0,0,17409,17256
4,31,0,10,8,9,0,0,18117,18472
...,...,...,...,...,...,...,...,...,...
1995,9971,0,6,3,7,0,0,17409,17256
1996,9980,0,4,4,4,0,0,17409,17256
1997,9983,1,6,3,3,1,1,18513,18201
1998,9996,1,10,9,9,1,1,18513,18201
1999,9999,0,7,11,8,0,0,18117,18201

In [5]:
sub

         9  0
0       15  0
1       18  0
2       23  0
3       31  0
4       32  0
...    ... ..
1994  9971  0
1995  9980  0
1996  9983  0
1997  9996  0
1998  9999  0

[1999 rows x 2 columns]

In [6]:
train.isnull().sum()

gameId                 0
blueFirstBlood         0
blueKills              0
blueDeaths             0
blueAssists            0
blueEliteMonsters      0
blueDragons            0
blueTotalGold          0
blueTotalExperience    0
blueWins               0
dtype: int64

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
gameId                 8000 non-null int64
blueFirstBlood         8000 non-null int64
blueKills              8000 non-null int64
blueDeaths             8000 non-null int64
blueAssists            8000 non-null int64
blueEliteMonsters      8000 non-null int64
blueDragons            8000 non-null int64
blueTotalGold          8000 non-null int64
blueTotalExperience    8000 non-null int64
blueWins               8000 non-null int64
dtypes: int64(10)
memory usage: 625.1 KB

In [8]:
for c in train.columns:
  print(c,train[c].nunique())

gameId 8000
blueFirstBlood 2
blueKills 15
blueDeaths 15
blueAssists 16
blueEliteMonsters 3
blueDragons 2
blueTotalGold 17
blueTotalExperience 29
blueWins 2

In [9]:
test.isnull().sum()

gameId                 0
blueFirstBlood         0
blueKills              0
blueDeaths             0
blueAssists            0
blueEliteMonsters      0
blueDragons            0
blueTotalGold          0
blueTotalExperience    0
dtype: int64

In [10]:
for c in test.columns:
  print(c,test[c].nunique())

gameId 2000
blueFirstBlood 2
blueKills 14
blueDeaths 15
blueAssists 15
blueEliteMonsters 3
blueDragons 2
blueTotalGold 17
blueTotalExperience 25

In [11]:
# 学習データを特徴量と目的変数に分ける
train_x = train.drop(['blueWins'], axis=1).copy()
train_y = train['blueWins'].copy()

# テストデータは特徴量のみなので、そのままでよい
test_x = test.copy()

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
gameId                 2000 non-null int64
blueFirstBlood         2000 non-null int64
blueKills              2000 non-null int64
blueDeaths             2000 non-null int64
blueAssists            2000 non-null int64
blueEliteMonsters      2000 non-null int64
blueDragons            2000 non-null int64
blueTotalGold          2000 non-null int64
blueTotalExperience    2000 non-null int64
dtypes: int64(9)
memory usage: 140.8 KB

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
train_x.columns

Index(['gameId', 'blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists',
       'blueEliteMonsters', 'blueDragons', 'blueTotalGold',
       'blueTotalExperience'],
      dtype='object')

In [15]:
# sns.pairplot(train_x)
# plt.savefig("output/pairplot.png")

<img src='output/pairplot.png'>Image description</img>

In [16]:
train_x.corr()

,gameId,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
gameId,1.000000,-0.001356,0.015867,0.011907,0.013440,0.001194,0.001223,0.012690,-0.000432
blueFirstBlood,-0.001356,1.000000,0.283559,-0.325833,0.241781,0.213862,0.155051,-0.111157,0.033651
blueKills,0.015867,0.283559,1.000000,-0.079929,0.710046,0.246184,0.196728,0.099387,0.309264
blueDeaths,0.011907,-0.325833,-0.079929,1.000000,-0.060368,-0.223138,-0.180798,0.060901,-0.051879
blueAssists,0.013440,0.241781,0.710046,-0.060368,1.000000,0.213466,0.176668,0.108863,0.301567
blueEliteMonsters,0.001194,0.213862,0.246184,-0.223138,0.213466,1.000000,0.787022,0.149436,0.295139
blueDragons,0.001223,0.155051,0.196728,-0.180798,0.176668,0.787022,1.000000,0.185465,0.295516
blueTotalGold,0.012690,-0.111157,0.099387,0.060901,0.108863,0.149436,0.185465,1.000000,0.162229
blueTotalExperience,-0.000432,0.033651,0.309264,-0.051879,0.301567,0.295139,0.295516,0.162229,1.000000

# 特徴量作成

In [22]:
# 変数gameIdを除外する
train_x = train_x.drop(['gameId'], axis=1)
test_x = test_x.drop(['gameId'], axis=1)

In [23]:
train_x

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,5,8,6,0,0,14536,17256
1,1,10,1,5,0,0,14536,17863
2,0,3,10,2,0,0,17409,17256
3,1,7,10,8,0,0,19558,18201
4,0,4,9,4,0,0,17409,17256
...,...,...,...,...,...,...,...,...
7995,1,9,6,14,0,0,18513,18201
7996,0,3,10,4,0,0,17381,19797
7997,1,9,3,9,2,1,18274,18491
7998,0,5,10,6,1,1,18274,18491
7999,0,6,4,5,0,0,17409,17256

In [24]:
from sklearn.preprocessing import OneHotEncoder

# 元データをコピーする
train_x2 = train.drop(['blueWins'], axis=1).copy()
test_x2 = test.copy()

# 変数gameIdを除外する
train_x2 = train_x2.drop(['gameId'], axis=1)
test_x2 = test_x2.drop(['gameId'], axis=1)

# one-hot encodingを行う
cat_cols = ['blueFirstBlood', 'blueEliteMonsters', 'blueDragons']
ohe = OneHotEncoder(categories='auto', sparse=False)
ohe.fit(train_x2[cat_cols].fillna('NA'))

# one-hot encodingのダミー変数の列名を作成する
ohe_columns = []
for i, c in enumerate(cat_cols):
    ohe_columns += [f'{c}_{v}' for v in ohe.categories_[i]]

# one-hot encodingによる変換を行う
ohe_train_x2 = pd.DataFrame(ohe.transform(train_x2[cat_cols].fillna('NA')), columns=ohe_columns)
ohe_test_x2 = pd.DataFrame(ohe.transform(test_x2[cat_cols].fillna('NA')), columns=ohe_columns)

# one-hot encoding済みの変数を除外する
train_x2 = train_x2.drop(cat_cols, axis=1)
test_x2 = test_x2.drop(cat_cols, axis=1)

# one-hot encodingで変換された変数を結合する
train_x2 = pd.concat([train_x2, ohe_train_x2], axis=1)
test_x2 = pd.concat([test_x2, ohe_test_x2], axis=1)

# 数値変数の欠損値を学習データの平均で埋める
num_cols = ['blueKills', 'blueDeaths', 'blueAssists', 'blueTotalGold', 'blueTotalExperience']
for col in num_cols:
    train_x2[col].fillna(train_x2[col].mean(), inplace=True)
    test_x2[col].fillna(train_x2[col].mean(), inplace=True)

# 対数変換する
train_x2['blueTotalGold'] = np.log1p(train_x2['blueTotalGold'])
train_x2['blueTotalExperience'] = np.log1p(train_x2['blueTotalExperience'])
test_x2['blueTotalGold'] = np.log1p(test_x2['blueTotalGold'])
test_x2['blueTotalExperience'] = np.log1p(test_x2['blueTotalExperience'])

In [44]:
train_x2

,blueKills,blueDeaths,blueAssists,blueTotalGold,blueTotalExperience,blueFirstBlood_0,blueFirstBlood_1,blueEliteMonsters_0,blueEliteMonsters_1,blueEliteMonsters_2,blueDragons_0,blueDragons_1
0,5,8,6,9.584452,9.755973,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,10,1,5,9.584452,9.790543,0.0,1.0,1.0,0.0,0.0,1.0,0.0
2,3,10,2,9.764800,9.755973,1.0,0.0,1.0,0.0,0.0,1.0,0.0
3,7,10,8,9.881191,9.809287,0.0,1.0,1.0,0.0,0.0,1.0,0.0
4,4,9,4,9.764800,9.755973,1.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,9,6,14,9.826282,9.809287,0.0,1.0,1.0,0.0,0.0,1.0,0.0
7996,3,10,4,9.763190,9.893336,1.0,0.0,1.0,0.0,0.0,1.0,0.0
7997,9,3,9,9.813289,9.825093,0.0,1.0,0.0,0.0,1.0,0.0,1.0
7998,5,10,6,9.813289,9.825093,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7999,6,4,5,9.764800,9.755973,1.0,0.0,1.0,0.0,0.0,1.0,0.0

In [25]:
train_x2.corr()

,blueKills,blueDeaths,blueAssists,blueTotalGold,blueTotalExperience,blueFirstBlood_0,blueFirstBlood_1,blueEliteMonsters_0,blueEliteMonsters_1,blueEliteMonsters_2,blueDragons_0,blueDragons_1
blueKills,1.000000,-0.079929,0.710046,0.092146,0.318815,-0.283559,0.283559,-0.243149,0.179386,0.128927,-0.196728,0.196728
blueDeaths,-0.079929,1.000000,-0.060368,0.064562,-0.056694,0.325833,-0.325833,0.219488,-0.160754,-0.118572,0.180798,-0.180798
blueAssists,0.710046,-0.060368,1.000000,0.103370,0.310588,-0.241781,0.241781,-0.218520,0.171259,0.097149,-0.176668,0.176668
blueTotalGold,0.092146,0.064562,0.103370,1.000000,0.162245,0.117418,-0.117418,-0.147344,0.120041,0.056999,-0.178832,0.178832
blueTotalExperience,0.318815,-0.056694,0.310588,0.162245,1.000000,-0.041399,0.041399,-0.329419,0.279511,0.106680,-0.304608,0.304608
blueFirstBlood_0,-0.283559,0.325833,-0.241781,0.117418,-0.041399,1.000000,-1.000000,0.200660,-0.134233,-0.132130,0.155051,-0.155051
blueFirstBlood_1,0.283559,-0.325833,0.241781,-0.117418,0.041399,-1.000000,1.000000,-0.200660,0.134233,0.132130,-0.155051,0.155051
blueEliteMonsters_0,-0.243149,0.219488,-0.218520,-0.147344,-0.329419,0.200660,-0.200660,1.000000,-0.859440,-0.303451,0.796580,-0.796580
blueEliteMonsters_1,0.179386,-0.160754,0.171259,0.120041,0.279511,-0.134233,0.134233,-0.859440,1.000000,-0.226333,-0.612852,0.612852
blueEliteMonsters_2,0.128927,-0.118572,0.097149,0.056999,0.106680,-0.132130,0.132130,-0.303451,-0.226333,1.000000,-0.375471,0.375471
blueDragons_0,-0.196728,0.180798,-0.176668,-0.178832,-0.304608,0.155051,-0.155051,0.796580,-0.612852,-0.375471,1.000000,-1.000000
blueDragons_1,0.196728,-0.180798,0.176668,0.178832,0.304608,-0.155051,0.155051,-0.796580,0.612852,0.375471,-1.000000,1.000000

# モデル作成

In [26]:
from xgboost import XGBClassifier

# モデルの作成および学習データを与えての学習
model = XGBClassifier(n_estimators=20, random_state=71)
model.fit(train_x, train_y)

# テストデータの予測値を確率で出力する
pred = model.predict_proba(test_x)[:, 1]

# テストデータの予測値を二値に変換する
pred_label = np.where(pred > 0.5, 1, 0)

# 提出用ファイルの作成
submission = pd.DataFrame({'gameId': test['gameId'], 'blueWins': pred_label})
# submission.to_csv('submission_first.csv', index=False)

In [27]:
submission

      gameId  blueWins
0          9         1
1         15         1
2         18         0
3         23         0
4         31         1
...      ...       ...
1995    9971         0
1996    9980         0
1997    9983         1
1998    9996         1
1999    9999         1

[2000 rows x 2 columns]

# バリデーション

In [28]:
#train_x
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # モデルの学習を行う
    model = XGBClassifier(n_estimators=20, random_state=71)
    model.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

accuracy: 0.7616

In [29]:
#train_x2
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x2):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x2.iloc[tr_idx], train_x2.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # モデルの学習を行う
    model = XGBClassifier(n_estimators=20, random_state=71)
    model.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

accuracy: 0.7616

# モデルチューニング

In [ ]:
import itertools

# チューニング候補とするパラメータを準備する
param_space = {
    'max_depth': [3, 5, 7, 9, 11, 13],
    'min_child_weight': [1.0, 2.0, 4.0, 8.0, 12.0, 16.0]
}

# 探索するハイパーパラメータの組み合わせ
param_combinations = itertools.product(param_space['max_depth'], param_space['min_child_weight'])

# 各パラメータの組み合わせ、それに対するスコアを保存するリスト
params = []
scores = []

# 各パラメータの組み合わせごとに、クロスバリデーションで評価を行う
for max_depth, min_child_weight in param_combinations:

    score_folds = []
    # クロスバリデーションを行う
    # 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
    kf = KFold(n_splits=4, shuffle=True, random_state=123456)
    for tr_idx, va_idx in kf.split(train_x):
        # 学習データを学習データとバリデーションデータに分ける
        tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
        tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

        # モデルの学習を行う
        model = XGBClassifier(n_estimators=20, random_state=71,
                              max_depth=max_depth, min_child_weight=min_child_weight)
        model.fit(tr_x, tr_y)

        # バリデーションデータでのスコアを計算し、保存する
        va_pred = model.predict_proba(va_x)[:, 1]
        accuracy = accuracy_score(va_y, va_pred > 0.5)
        score_folds.append(accuracy)

    # 各foldのスコアを平均する
    score_mean = np.mean(score_folds)

    # パラメータの組み合わせ、それに対するスコアを保存する
    params.append((max_depth, min_child_weight))
    scores.append(score_mean)

# 最もスコアが良いものをベストなパラメータとする
best_idx = np.argsort(scores)[0]
best_param = params[best_idx]
print(f'max_depth: {best_param[0]}, min_child_weight: {best_param[1]}')

In [ ]:
# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # モデルの学習を行う
    model = XGBClassifier(n_estimators=20, random_state=71,
                              max_depth=3, min_child_weight=12.0)
    model.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

In [ ]:
model = XGBClassifier(n_estimators=20, random_state=71,
                              max_depth=3, min_child_weight=12.0)

model.fit(train_x, train_y)

# テストデータの予測値を確率で出力する
pred = model.predict_proba(test_x)[:, 1]

# テストデータの予測値を二値に変換する
pred_label = np.where(pred > 0.5, 1, 0)

# 提出用ファイルの作成
submission = pd.DataFrame({'gameId': test['gameId'], 'blueWins': pred_label})
submission.to_csv('output/sub.csv',header=False,index=False)
pd.read_csv('output/sub.csv')

In [ ]:
sub

# ロジスティック回帰

/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

accuracy: 0.7612

In [34]:
np.arange(0,1,0.1)[1:]

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [37]:
# ロジスティック回帰のみ
pred_label_lr = np.where(pred_lr > 0.5, 1, 0)
submission_lr = pd.DataFrame({'gameId': test['gameId'], 'blueWins': pred_label_lr})
submission_lr.to_csv('output/sub_lr.csv',header=False,index=False)
pd.read_csv('output/sub_lr.csv')

         9  0
0       15  1
1       18  0
2       23  0
3       31  1
4       32  0
...    ... ..
1994  9971  0
1995  9980  0
1996  9983  1
1997  9996  1
1998  9999  0

[1999 rows x 2 columns]

In [38]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

In [39]:
# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
    model_lr.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model_xgb.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

accuracy: 0.7665

In [40]:
# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x2):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x2.iloc[tr_idx], train_x2.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
    model_lr.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model_xgb.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

ValueError: feature_names mismatch: ['blueFirstBlood', 'blueKills', 'blueDeaths', 'blueAssists', 'blueEliteMonsters', 'blueDragons', 'blueTotalGold', 'blueTotalExperience'] ['blueKills', 'blueDeaths', 'blueAssists', 'blueTotalGold', 'blueTotalExperience', 'blueFirstBlood_0', 'blueFirstBlood_1', 'blueEliteMonsters_0', 'blueEliteMonsters_1', 'blueEliteMonsters_2', 'blueDragons_0', 'blueDragons_1']
expected blueEliteMonsters, blueFirstBlood, blueDragons in input data
training data did not have the following fields: blueFirstBlood_1, blueEliteMonsters_0, blueDragons_0, blueFirstBlood_0, blueEliteMonsters_1, blueDragons_1, blueEliteMonsters_2

# アンサンブル

In [41]:
# xgboostモデル
model_xgb = XGBClassifier(n_estimators=20, random_state=71)
model_xgb.fit(train_x, train_y)
pred_xgb = model_xgb.predict_proba(test_x)[:, 1]

# ロジスティック回帰モデル
# xgboostモデルとは異なる特徴量を入れる必要があるので、別途train_x2, test_x2を作成した
model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
model_lr.fit(train_x2, train_y)
pred_lr = model_lr.predict_proba(test_x2)[:, 1]

# 予測値の加重平均をとる
pred = pred_xgb * 0.8 + pred_lr * 0.2
pred_label = np.where(pred > 0.5, 1, 0)

submission_ens = pd.DataFrame({'gameId': test['gameId'], 'blueWins': pred_label})
submission_ens.to_csv('output/sub_ens.csv',header=False,index=False)
pd.read_csv('output/sub_ens.csv')

/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

         9  1
0       15  1
1       18  0
2       23  0
3       31  1
4       32  1
...    ... ..
1994  9971  0
1995  9980  0
1996  9983  1
1997  9996  1
1998  9999  0

[1999 rows x 2 columns]

In [43]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

# 各foldのスコアを保存するリスト
scores_accuracy = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x2):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x2.iloc[tr_idx], train_x2.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # モデルの学習を行う
    model_xgb = XGBClassifier(n_estimators=20, random_state=71, max_depth=3, min_child_weight=12.0)
    model_xgb.fit(tr_x, tr_y)
    
    model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
    model_lr.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    xgb_va_pred = model_xgb.predict_proba(va_x)[:, 1]
    lr_va_pred = model_xgb.predict_proba(va_x)[:, 1]
    xgb_w = 0.2
    lr_w = 0.8
    va_pred = xgb_va_pred * xgb_w + lr_va_pred * lr_w

    # バリデーションデータでのスコアを計算する
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
accuracy = np.mean(scores_accuracy)
print(f'accuracy: {accuracy:.4f}')

/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

accuracy: 0.7612

In [50]:
# モデルの学習を行う
model_xgb = XGBClassifier(n_estimators=20, random_state=71, max_depth=3, min_child_weight=12.0)
model_xgb.fit(train_x, train_y)
pred_xgb = model_xgb.predict_proba(test_x)[:, 1]

model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
model_lr.fit(train_x2, train_y)
pred_lr = model_lr.predict_proba(test_x2)[:, 1]

# バリデーションデータの予測値を確率で出力する
xgb_pred = model_xgb.predict_proba(test_x)[:, 1]
lr_pred = model_xgb.predict_proba(test_x)[:, 1]
xgb_w = 0.2
lr_w = 0.8
pred = xgb_pred * xgb_w + lr_pred * lr_w
pred_label = np.where(pred > 0.5, 1, 0)

submission_ens = pd.DataFrame({'gameId': test['gameId'], 'blueWins': pred_label})
submission_ens.to_csv('output/sub_ens_3.csv',header=False,index=False)
pd.read_csv('output/sub_ens_3.csv')

/Users/kumagaimayuko/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

         9  1
0       15  1
1       18  0
2       23  0
3       31  1
4       32  1
...    ... ..
1994  9971  0
1995  9980  0
1996  9983  1
1997  9996  1
1998  9999  1

[1999 rows x 2 columns]